.credit-card.loading(class=creatingFromScratch ? 'from-scratch' : '')
  .form.lexi-on-white(id="", method="", action="")
    .card
      if creatingFromScratch
        .form-input
          label
            | Card Number
            .lex-holder#card-number
      .form-input.exp
        label
          | Exp. Date
          .lex-holder#expiration-date
      .form-input.cvv
        label
          | CVV
          .lex-holder#cvv
