.credit-card.loading  
  .form.lexi-blue(id="", method="", action="")
    .card
      .form-input
        label(for="card-number") Card Number
        .lex-holder#card-number
      .form-input.exp
        label(for="expiration-date") Exp. Date
        .lex-holder#expiration-date
      .form-input.cvv
        label(for="cvv") CVV
        .lex-holder#cvv
