.credit-card       {
  &.loading        {position: relative;
    &:before       {content:"Establishing Secure Connection.."; position:absolute; top:6px; color:#09AEF7;  width:100%; text-align: center; }
    .form *        {opacity:0;}
  }
  .form            {
    #submit        {margin-top:30px; }
    .card          {display: flex; }
    .form-input    {display: flex; align-items: center; padding-right:10px;
      .lex-holder  {background:#EDEDED; flex-grow: 2; transition: border-bottom 300ms ease;; padding:0 0 2px 9px;  color:$azul2; height:50px;
        &.braintree-hosted-fields-focused {border-bottom-color:white; }
        &.braintree-hosted-fields-invalid {outline:solid 2px #fba5a5; background:#F9B4B4; }
      }
      &.exp   {.lex-holder{max-width:150px;} }
      &.cvv   {.lex-holder{max-width:55px;} }
      label   {white-space: nowrap; padding-right:10px; }
    }
  }
}
